.box-sizing(@boxmodel) {
  -webkit-box-sizing: @boxmodel;
     -moz-box-sizing: @boxmodel;
          box-sizing: @boxmodel;
}

.transition(@type: all, @time: .25s){
	-webkit-transition: @type @time;
	-moz-transition: @type @time;
	-o-transition: @type @time;
	transition: @type @time;
}

.inlineBlocker(@vAlign: top){
    display: inline-block;
    *display: inline;
    vertical-align: @vAlign;
    *vertical-align: @vAlign;
}

.transitionClass{
	.transition;
}

.greyBackground{
	background-color: #DDD;
}

.ui-state-default{
	font-size: 1.2em;
	padding: 5px;
	&:hover{
		cursor: pointer;
	}
}

/* timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

.ui-slider-horizontal .ui-slider-handle{
	width: 0.1em;
	height: 0.5em;
	z-index: 1;
}

/* jquery ui sortable */
#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; }

.imageContainer{
	.inlineBlocker;
	text-align: center;
	padding: 5px;
	border: 1px solid #EEE;
	margin: 5px;
	background-color: white;
	z-index: 1000;
	position: relative;

	.boxControls{
		display: none;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		min-height: 10px;
		.deleteButton{
			background-color: #FAB1B1;
			color: white;
			font-weight: bold;
		}
		&:hover{
			display: block;
			cursor: pointer;
			background-color: red;
		}
	}

	&:hover{
		.boxControls{
			display: block;
		}
	}
}

#galleries_gallery_images_meta{
	.inside{
		display: block;
		min-height: 200px;
		.imageContainer{
			margin: 5px 0px;
			width: 100%;
			.box-sizing(border-box);
			&:hover{
				cursor: move;
			}
		}
	}
}

#galleries_all_images_meta{
	.inside{
		// height: 600px;
		// overflow-y: scroll;
	}
}

.ui-draggable-dragging{
	z-index: 1001;
}

.added{
	background-color: rgb(215, 231, 224);
}

		// $('.ui-draggable').css('z-index', '1000')

/*	Featured Images */

.featured_images_launcher{
	color: #0074a2;
	text-decoration: underline;
	&:hover{
		cursor: pointer;
		color: #2ea2cc;
	}
}

#sb-player{
	.featuredImages{
		position: absolute;
		height: 100%;
		width: 101%;
		top: 0px;
		left: 0px;
		.frame{
			overflow-y: scroll;
			float: left;
			width: 50%;
			height: 100%;
			.post-type-collections &{
				width: 33%;
			}
			.box-sizing(border-box);
			&:first-child{
				border-right: 1px solid;
			}

			.productListingItem{
				img{
					height: 100px;
					width: auto;
				}
			}
		}
	}
}

.imagePicker, .productPicker{
	.imageThumb{
		.inlineBlocker();
		.box-sizing(border-box);
		border: 1px solid #333;
		padding: 3px;
		position: relative;
		width: 100%;
		max-width: 150px;
		img{
			width: 100%;
			display: block;
		}
	}
	.selected{
		background-color: #2ea2cc;
		border-color: #2ea2cc;
	}
}

.imageOrderer{
	.imageThumb{
		.box-sizing(border-box);
		border: 1px solid #333;
		padding: 3px;
		position: relative;
		width: 100%;
		max-width: 150px;
		img{
			width: 100%;
			display: block;
		}
	}
}