/* ==========================================================================
   BOILERPLATE STYLES
   ========================================================================== */

    /* ==========================================================================
       IMPORTS
       ========================================================================== */

        @import url('../machines/libraries/bootstrap/less/bootstrap.less');
        @import url('../machines/libraries/font-awesome/less/font-awesome.less');

    /* ==========================================================================
       COLORS
       ========================================================================== */

        @white: rgb(255, 255, 255);
        @offWhite: rgb(247, 247, 247);
        @greyLightest: rgb(238, 238, 238);
        @greyLighter: rgb(231, 231, 231);
        @greyLight: rgb(188, 188, 188);
        @greyMid: rgb(122, 122, 122);
        @greyDark: rgb(61, 61, 61);
        @greyDarker: rgb(30, 30, 30);
        @greyDarkest: rgb(16, 16, 16);
        @offBlack: rgb(8, 8, 8);
        @black: rgb(0, 0, 0);
        @footerGrey: rgb(235, 235, 236);

        @blue: rgb(28, 117, 188);
        @blue_lightest: rgb(100, 163, 212);
        @blue_lighter: rgb(62, 138, 197);
        @blue_darker: rgb(8, 93, 159);
        @blue_darkest: rgb(6, 72, 122);

        @blackLighter: rgb(41,41,41);

    /* ==========================================================================
       TEMPLATE VARIABLES
       ========================================================================== */

        @defaultColor: @greyDark;

        @headerHeight: 108px;
        @footerHeight: 141px;
        @mobileHeaderHeight: @headerHeight * 1.0;

        @fontFamily: 'proxima-nova', sans-serif;

        @zindexMainMenu: 100;
        @zindexLogo: 101;

    /* ==========================================================================
       MEDIA QUERIES
       ========================================================================== */


        @media0: ~"(min-width: 1440px)";
        @media0_: ~"(max-width: 1439px)";

        @media1: ~"(min-width: 1200px)";
        @media1_: ~"(max-width: 1199px)";

        @media2: ~"(min-width: 960px)";
        @media2_: ~"(max-width: 959px)";

        @media3: ~"(min-width: 720px)";
        @media3_: ~"(max-width: 719px)";

        @media4: ~"(min-width: 480px)";
        @media4_: ~"(max-width: 479px)";


    /* ==========================================================================
       TEMPLATE MIXINS
       ========================================================================== */

        .displayInlineBlock(@vAlign: top){
            display: inline-block;
            *display: inline;
            vertical-align: @vAlign;
            *vertical-align: @vAlign;
        }

        .displayNone(){
            display: none !important;
        }

        .displayTable(){
            display: table !important;
            height: 100%;
        }

        .positionAbsolute(){
            position: absolute !important;
        }

        .positionFixed(){
            position: fixed !important;
        }

        .displayTableCell(@vAlign: middle) {
            display: table-cell;
            vertical-align: @vAlign;
        }

        .overflowScrollingTouch(){
            -webkit-overflow-scrolling: touch;
        }

        .fontAwsome(@icon){
            @faPrefix: "fa-var-@{icon}";
            .fa-icon();
            content: @@faPrefix;
        }
        
        .disableSelect(){
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

    /* ==========================================================================
       STICKY FOOTER
       ========================================================================== */

        html {
            position: relative;
            min-height: 100%;

        }

        body {
            /* Margin bottom by footer height */
            margin-bottom: @footerHeight;
            font-family: @fontFamily;
            overflow-y: scroll;
        }
        .mobileMode{
            margin-bottom: 0px;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: @footerHeight;
            .mobileMode &{
                height: auto;
                position: relative;
            }
        }

    /* ==========================================================================
       GLOBAL STYLES
       ========================================================================== */

        body{
            background-color: @white;
            letter-spacing: 0.3px;
            font-family: @fontFamily;
            color: @defaultColor;
            font-size: 10px;
            font-size: 1rem;
        }

        h1, h2, h3, h4, h5, h6{
            margin-top: 0px;
            margin-bottom: 0px;
        }

        h2{
            font-size: 30px;
            font-size: 3rem;
            text-transform: uppercase;
            font-weight: 100;
        }

        p{
            margin-bottom: 10px;
            margin-bottom: 1rem;
        }

        ul{
            margin-bottom: 0px;
        }

        p, li{
            line-height: 100%;
            font-size: 16px;
            font-size: 1.6rem;
            line-height: 160%;
            font-weight: 100;
        }

        b, strong{
            font-weight: 500;
        }

        .displayTableCell{
            .displayTableCell();
        }

        .displayTable{
            .displayTable();
        }

        .displayNone{
            .displayNone();
        }

        .the_content, .leftContainer{
            h1{
                font-size: 30px;
                font-size: 3rem;
                margin-bottom: 20px;
                margin-bottom: 2rem;
                text-transform: uppercase;
                font-weight: 100;
            }
            h2{
                font-size: 26px;
                font-size: 2.6rem;
                margin-bottom: 15px;
                margin-bottom: 1.5rem;
                text-transform: uppercase;
                font-weight: 100;
            }
            h3{
                font-size: 24px;
                font-size: 2.4rem;
                margin-bottom: 14px;
                margin-bottom: 1.4rem;
                text-transform: uppercase;
                font-weight: 100;
                color: @blue_lighter;
            }
            h4{
                font-size: 20px;
                font-size: 2rem;
                margin-bottom: 12px;
                margin-bottom: 1.2rem;
                text-transform: uppercase;
                font-weight: 100;
            }
            h5{
                font-size: 16px;
                font-size: 1.6rem;
                margin-bottom: 9px;
                margin-bottom: 0.9rem;
                text-transform: uppercase;
                font-weight: 500;
                color: @blue_lighter;
            }
            h6{
                font-size: 14px;
                font-size: 1.4rem;
                margin-bottom: 8px;
                margin-bottom: 0.8rem;
                text-transform: uppercase;
                font-weight: 500;
                color: @greyMid;
            }
        }

        .rightContainer{
            .transition(.2s);
            .opacity(0);
            background-color: @offWhite;
            padding: 1.2rem 0.5rem;

            h1{
                font-size: 24px;
                font-size: 2.4rem;
                margin-bottom: 5px;
                margin-bottom: 0.5rem;
                text-transform: uppercase;
                font-weight: 100;
                color: @blue_lighter;
            }
            h2{
                font-size: 20px;
                font-size: 2rem;
                margin-bottom: 5px;
                margin-bottom: 0.5rem;
                text-transform: uppercase;
                font-weight: 100;
            }
            h3{
                font-size: 16px;
                font-size: 1.6rem;
                margin-bottom: 5px;
                margin-bottom: 0.5rem;
                text-transform: uppercase;
                font-weight: 500;
                color: @blue_lighter;
            }
            h4{
                font-size: 14px;
                font-size: 1.4rem;
                margin-bottom: 5px;
                margin-bottom: 0.5rem;
                text-transform: uppercase;
                font-weight: 500;
                color: @greyMid;
            }
            h5{
                font-size: 12px;
                font-size: 1.2rem;
                margin-bottom: 5px;
                margin-bottom: 0.5rem;
                text-transform: uppercase;
                font-weight: 100;
            }
            h6{
                font-size: 10px;
                font-size: 1rem;
                margin-bottom: 5px;
                margin-bottom: 0.5rem;
                text-transform: uppercase;
                font-weight: 100;
            }

            p, li{
                line-height: 100%;
                font-size: 14px;
                font-size: 1.4rem;
                line-height: 140%;
                font-weight: 100;
            }

        }

        .mm-page{
            box-shadow: none !important;
        }

        #mm-navbar{
            *{
                // background-color: @greyMid !important;
                font-family: @fontFamily !important;
                text-transform: uppercase;
                font-weight: 300;
                letter-spacing: 0.7px;
                background-color: @blue_lighter;
                color: @white;
            }
        }



    /* ==========================================================================
       HEADER
       ========================================================================== */

        .header{
            height: @headerHeight;
            margin-bottom: 0px;
            .box-sizing(border-box);
            > .container{
                height: 100%;
                .navbar-header{
                    height: 100%;
                    .mobileMode &{
                        height: @headerHeight;
                    }
                    .navbar-brand{
                        height: 100%;
                        padding: 0px;
                        margin: 0px;
                        img{
                            height: 100%;
                        }
                    }
                }
                #navbar{
                    height: 100% !important;
                    .mobileMode &{
                        display: none !important;
                    }
                    li{
                        margin-bottom: 0px;
                    }
                    > ul{
                        height: 100%;
                        > li{
                            height: 100%;
                            > a{
                                padding: 0px;
                                height: 100%;
                                display: table;
                                span{
                                    .displayTableCell();
                                }
                            }
                        }
                    }
                }
            }
        }

        .mobileMode{
            .mm-list{
                padding-top: @mobileHeaderHeight;
            }
        }

        #menu-main-menu{
            li{
                &:hover{
                    > .sub-menu{
                        display: block;
                        .sub-menu{
                            top: 0px;
                            left: 100%;
                        }
                    }
                }
            }
        }

    /* ==========================================================================
       HEADER OVERRIDE
       ========================================================================== */

       .header{
            height: @headerHeight;
            background-color: @white;
            border-bottom: solid 3px @blue;
            border-bottom: solid 0.3rem @blue;
            > .container{
                height: 100%;
                .navbar-header{
                    height: 100%;
                    margin: 0;
                    .mobileMode &{
                        height: @headerHeight;
                    }
                    .menu_toggle_container{
                        display: none;
                        float: right;
                        height: 100%;
                        .navbar-toggle{
                            border-radius: 0px;
                            margin: 0px;
                            border-color: 1px solid @greyLight;
                            border-color: 0.1rem solid @greyLight;
                        }
                        .mobileMode &{
                            display: block;
                        }
                    }
                    height: 100%;
                    .logo_container{
                        height: 100%;
                        .navbar-brand{
                            height: inherit;
                            width: 175px;
                            img{
                                width: 100%;
                                height: auto;
                            }
                        }
                    }

                }
                #navbar{
                    height: 100% !important;
                    .mobileMode &{
                        display: none !important;
                    }
                    .nav{
                        float: right;
                        @media screen and @media2_{
                            display: none;
                        }
                    }
                    a{
                        font-size: 1.5rem;
                        font-weight: 100;
                        text-transform: uppercase;
                        letter-spacing: 0.5px;
                        letter-spacing: 0.05rem;
                        span{

                        }
                    }
                    > ul{
                        height: 97%;
                        > li{
                            height: 100%;
                            padding-left: 17px;
                            padding-left: 1.7rem;
                            > a{
                                padding: 0px;
                                height: 100%;
                                .displayTable();
                                span{
                                    .displayTableCell(bottom);
                                    &:hover{
                                        color: @blue;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .mobileMode{
            .mm-list{
                padding-top: @mobileHeaderHeight;
            }
        }

        #menu-main-menu{
            .dropdown-menu{
                border-radius: 0px;
                box-shadow: none;
                > li{
                    > a{
                        .transition(.2s);
                        &:hover{
                            background-color: @blue_lighter;
                            color: @white;
                        }
                    }
                }
            }
        }

        .title_block{
            min-height: 40px;
            height: 75px;
            height: 4vh;
            margin-bottom: 35px;
            margin-bottom: 2vh;
            background-color: @offWhite;
            border-top: 2px solid @blue_lighter;
            border-top: 0.2rem solid @blue_lighter;
            border-bottom: 1px solid @greyLighter;
            border-bottom: 0.1rem solid @greyLighter;
            .box-sizing(content-box);
            .container{
                height: 100%;
                .displayTable{
                    height: 100%;
                }
            }
            .header_title{
                margin: 0;
                margin-left: auto;
                text-transform: uppercase;
                font-weight: 100;
                color: @blue_lighter;
            }
        }        


    /* ==========================================================================
       FOOTER
       ========================================================================== */

        .footer{
            background-color: @offWhite;
            border-top: solid 2px @blue_lightest;
            border-top: solid 0.2rem @blue_lightest;
            text-transform: uppercase;
            p{
                margin-bottom: 0px;
                font-size: 13px;
                font-size: 1.3rem;
            }
            .mobileMode &{
                font-size: 11px;
                line-height: 200%;
            }
            .container{
                height: 100%;
                .footerBox{
                    .make-row();
                    height: 100%;
                    .footerBoxLeft{
                        .make-md-column(9);
                        height: 100%;
                        .displayTableCell{
                        }
                    }
                    .footerBoxRight{
                        .make-md-column(3);
                        height: 100%;
                        text-align: right;
                        .displayTableCell{
                            vertical-align: bottom;
                            padding-bottom: 2.8rem;
                        }
                    }
                    .displayTable{
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }

    /* ==========================================================================
       PAGE CONTAINER
       ========================================================================== */
    
        .pageSection{
            > .container{
                .pageContainer{
                    .make-row();
                    margin-bottom: 75px;
                    margin-bottom: 2vh;
                    .leftContainer{
                        .make-sm-column(9);
                    }
                    .rightContainer{
                        .make-sm-column(3);
                    }
                }
            }
        }    
        .bannerContainer{
            height: 320px;
            height: 48vh;
            margin-top: @mobileHeaderHeight;

            .mobileMode &{
            }
            .bannerImage{
                height: 320px;
            }
        }

    /* ==========================================================================
       PAGE SPECIFIC
       ========================================================================== */

        #about-us{
            .rightContainer{
                .opacity(1);
            }
        }

        #leadership {
            .people_listing_container{
                .person_category{
                    text-align: center;
                    margin-bottom: 60px;
                    margin-bottom: 6rem;
                    .peopleContainer{
                        .make-row();
                        .personContainer{
                            .make-sm-column(4);
                        }
                    }
                }
                .image_container{
                    height: 220px;
                    height: 22rem;
                    .box-sizing(border-box);
                    border: 1px solid @offWhite;
                }
                .nameLine{
                    text-align: center;
                    margin-top: 9px;
                    margin-top: 0.9rem;
                    margin-bottom: 0px;
                }
            }

            .leftContainer{
                margin: 0px auto;
                float: none;
            }
            .rightContainer{
                display: none;
            }
        }

        #unions-rates{
            .leftContainer{
                width: 100%;
                > .the_content{
                    width: 75%;
                }
            }

            .unionTypesContainer{
                margin-top: 4rem;
                padding-top: 1rem;
                border-top: 1px solid @offWhite;
            }
            .union_rates{
                p{
                    .displayInlineBlock(top);
                    height: 18rem;
                    background-color: @offWhite;
                    padding: 1rem;
                    width: 32%;
                    margin-right: 1%;
                    border: 1px solid @greyLighter;
                    .transition(.2s);
                    &:hover{
                        background-color: @greyLightest;
                    }
                }
            }
            .union_item{
                margin-bottom: 3rem;
                .make-row();
                .union_info_block{
                    .make-sm-column(3);
                }
                .union_rates_block{
                    .make-sm-column(9);
                }
            }
        }

        #news{
            .newsItemContainer{
                margin-top: 4rem;
                padding-top: 1rem;
                border-top: 1px solid @offWhite;
                h4{
                    margin-bottom: 5px;
                    margin-bottom: 0.5rem;
                    color: @blue;
                }
                h5{
                    color: @defaultColor;
                    font-weight: 300;
                    margin-bottom: 5px;
                    margin-bottom: 0.5rem;
                    padding-bottom: 5px;
                    padding-bottom: 0.5rem;
                }
            }
        }

        #home{
            .title_block{
                height: auto;
                padding: 1.2rem;
                .container{
                    height: 100%;
                }
                .displayTable{
                    height: 100%;
                    margin: 0px auto;
                }
                .header_title{
                    *{
                        margin-bottom: 0px !important;
                        color: @defaultColor;
                        font-size: 3.2rem;
                        .mobileMode&{
                            font-size: 2.9rem;
                            @media screen and @media4_{
                                font-size: 2.6rem;
                                text-align: center;
                            }
                        }
                    }
                    strong{
                        color: @blue;
                    }
                }
            }
            .the_content{
                width: 67%;
                margin: 0px auto;
                text-align: center;
                p{
                    font-size: 2.6rem;
                    line-height: 140%;

                    .mobileMode&{
                        @media screen and @media4_{
                            font-size: 2.2rem;
                        }
                    }
                }
            }
        }